@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F7FAF9;
  color: #0F1F1E;
  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, .font-display {
  font-family: 'Outfit', sans-serif;
}
